@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import 'tailwindcss';
@tailwind utilities;

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

::selection {
	background-color: hsla(51, 60%, 55%, 0.7);
	color: var(--primary);
}

::-moz-selection {
	background-color: hsla(51, 60%, 55%, 0.7);
	color: var(--primary);
}

:root {
	--default-font-family: 'Inter';

	--background: hsl(195, 6%, 12%);
	--foreground: hsl(51, 90%, 75%);
	--foreground-readable: hsl(51, 45%, 60%);
	--foreground-disabled: hsl(51, 25%, 45%);

	--primary: hsl(200, 15%, 8%);
	--primary-foreground: hsl(205, 5%, 40%);

	--secondary: hsl(60, 5%, 30%);
	--secondary-foreground: hsl(51, 100%, 48%);
	--secondary-foreground-disabled: hsl(51, 50%, 48%);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-foreground-readable: var(--foreground-readable);
	--color-foreground-disabled: var(--foreground-disabled);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary-foreground-disabled: var(--secondary-foreground-disabled);

	--animate-playpause: playpause 0.3s ease-in-out;
	--animate-out-left: out-left 0.2s ease-in-out forwards;
	--animate-out-right: out-right 0.2s ease-in-out forwards;
	/* Using forwards here for some reason causes position: fixed elements to also cause the document to overflow 
	   in some cases
	 */
	--animate-in-left: in-left 0.2s ease-in-out;
	--animate-in-right: in-right 0.2s ease-in-out;
	--animate-fade-out: fade-out 0.2s ease-in-out forwards;
	--animate-fade-in: fade-in 0.2s ease-in-out forwards;

	@keyframes playpause {
		0% {
			transform: scale(1);
			opacity: 1;
		}

		100% {
			transform: scale(1.75);
			opacity: 0;
		}
	}

	@keyframes out-left {
		0% {
			transform: translate(0);
			opacity: 1;
		}

		100% {
			transform: translate(150%);
			opacity: 0;
		}
	}

	@keyframes out-right {
		0% {
			transform: translate(0);
			opacity: 1;
		}

		100% {
			transform: translate(-150%);
			opacity: 0;
		}
	}

	@keyframes in-left {
		0% {
			transform: translate(50%);
			opacity: 0;
		}

		100% {
			transform: translate(0);
			opacity: 1;
		}
	}

	@keyframes in-right {
		0% {
			transform: translate(-50%);
			opacity: 0;
		}

		100% {
			transform: translate(0);
			opacity: 1;
		}
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		
		100% {
			opacity: 1;
		}
	}

	
	@keyframes fade-out {
		0% {
			opacity: 1;
		}
		
		100% {
			opacity: 0;
		}
	}

}

@layer base {
	html {
		@apply overflow-hidden
	}

	body {
		@apply bg-background text-foreground;
	}
}